@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Dana";/*400*/
        src: url("Dana"),url("../fonts/Dana/woff2/DanaFaNum-Reqular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana Medium";/*500*/
        src: url("Dana Medium"),url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold";/*600*/
        src: url("Dana DemiBold"),url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Light";
        src: url("Morabba Light"),url("../fonts/Dana/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium";
        src: url("Morabba Medium"),url("../fonts/Dana/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Bold";
        src: url("Morabba Bold"),url("../fonts/Dana/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }
}